a {text-decoration:none;}
a,a:visited {color:#000;background:inherit;}
body {margin:0;padding:20px;font:12px tahoma,sans-serif;}
h4 {margin:0;padding:0;font-size:18px;}
p {margin:0;padding:0 0 0 18px;}
p a,p a:visited {color:#00f;background:inherit;}
.button:active, .button.focus {
    color: #000;
    background: -webkit-gradient(linear, 0, 0, 100% 0,
        from (#A69520), to (#FFF089));
    background: -moz-linear-gradient(#A69520, #FFF089);
    background: -o-linear-gradient(#A69520, #FFF089);
    background: linear-gradient(left center, #A69520, #FFF089);
}
/*lTREEMenu Start*/
.lTREEMenu dl {padding:0;margin:0 0 2px 17px;clear:both;}
.lTREEMenu a {background:none;}
.lTREEMenu dd {padding:0;margin:0px;list-style:none;clear:both;}
.lTREEMenu dd button {width:38px;height:18px;overflow:hidden;cursor:pointer;vertical-align:middle;border:none;background:url(img/01/opened.gif) no-repeat 3px 1px;}
.lTREEMenu dd.Closed dl {display:none;}
.lTREEMenu dd.Closed button {background-image:url(img/01/closed.gif);}
.lTREEMenu dt {margin:0px;padding:0 0 0 22px;background:url(img/01/leaf.gif) no-repeat 0 2px;line-height:18px;}
/*lTREEMenu End*/